<phpunit
    backupGlobals="true"
    bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false">

    <testsuites>
        <testsuite name="EXT:t3import_export tests">
            <directory>../Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../../Classes/</directory>
        </whitelist>
    </filter>
    <coverage>
        <include>
            <directory suffix=".php">../../Classes</directory>
        </include>
    </coverage>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    </logging>
</phpunit>
