<f:layout name="Backend"/>

<f:section name="content">
    <f:if condition="{settings.debug}">
        <f:debug>{tasks}</f:debug>
        <f:debug>{sets}</f:debug>
        <f:debug>{settings}</f:debug>
    </f:if>
    <h1>Import</h1>
    <f:flashMessages/>

	<h2>Tasks</h2>
	<p>Select an import task to perform</p>
	<ul class="list">
		<f:for each="{tasks}" as="task">
			<f:render partial="Task/ImportListItem" arguments="{task: task}" />
		</f:for>
	</ul>

    <h2>Sets</h2>
    <f:for each="{sets}" as="set">
        <f:render partial="Set/ListItem" arguments="{set: set}"/>
    </f:for>
</f:section>
