<f:layout name="Backend" />

<f:section name="content">
    <f:if condition="{settings.debug}">
        <f:debug>{tasks}</f:debug>
        <f:debug>{sets}</f:debug>
        <f:debug>{settings}</f:debug>
    </f:if>
    <h1>{f:translate(key: 'header.import')}</h1>
    <f:flashMessages />

    <h2>{f:translate(key: 'header.tasks')}</h2>
    <f:if condition="{tasks}">
        <f:then>
            <div class="typo3-message message-information">
                <div class="message-body">{f:translate(key: 'message.chooseImportTask')}</div>
            </div>
            <f:for each="{tasks}" as="task">
                <f:render partial="Task/ImportListItem" arguments="{task: task}" />
            </f:for>
        </f:then>
        <f:else>
            <div class="typo3-message message-notice">
                <div class="message-body">{f:translate(key: 'message.noImportTasksFound')}</div>
            </div>
        </f:else>
    </f:if>

    <h2>{f:translate(key: 'header.sets')}</h2>
    <f:if condition="{sets}">
        <f:then>
            <div class="typo3-message message-information">
                <div class="message-body">{f:translate(key: 'message.chooseImportSet')}</div>
            </div>
            <f:for each="{sets}" as="set">
                <f:render partial="Set/ListItem" arguments="{set: set}" />
            </f:for>
        </f:then>
        <f:else>
            <div class="typo3-message message-notice">
                <div class="message-body">{f:translate(key: 'message.noImportSetsFound')}</div>
            </div>
        </f:else>
    </f:if>
</f:section>
